{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Setup</h1>
		</div>
	</div>
	<div class="container">
		<div class="col-md-8 offset-md-2">
			{% include "components/errors.html" %}

			{% with form = Forms.setup.SetupForm() %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal" id="setup-form">
				<ul class="nav nav-pills nav-fill mb-4">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="pill" href="#general">Geral</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#administration">Administração</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#style">Estilo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#datetime">Data &amp; Hora</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#integrations">Integrações</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade show active" id="general" role="tabpanel">
						<div class="form-group">
							<b>{{ form.ctf_name.label }}</b>
							{{ form.ctf_name(class="form-control") }}
							<small class="form-text text-muted">
								{{ form.ctf_name.description }}
							</small>
						</div>

						<div class="form-group">
							<b>{{ form.ctf_description.label }}</b>
							{{ form.ctf_description(class="form-control", rows="5") }}
							<small class="form-text text-muted">
								{{ form.ctf_description.description }}
							</small>
						</div>

						<div class="form-group">
							<b>{{ form.user_mode.label }}</b>
							{% for radio in form.user_mode %}
								<div class="form-check ml-3">
									{{ radio(class="form-check-input") }}
									{{ radio.label }}
								</div>
							{% endfor %}
							<small class="form-text text-muted">
								{{ form.user_mode.description }}
							</small>
						</div>

						<div class="float-right">
							<button type="button" class="btn btn-primary btn-outlined tab-next" data-href="#administration">
								Next
							</button>
						</div>
					</div>
					<div class="tab-pane fade" id="administration" role="tabpanel">
						<div class="form-group">
							<b>{{ form.name.label }}</b>
							{{ form.name(class="form-control") }}
							<small class="form-text text-muted">
								{{ form.name.description }}
							</small>
						</div>
						<div class="form-group">
							<b>{{ form.email.label }}</b>
							{{ form.email(class="form-control") }}
							<small class="form-text text-muted">
								{{ form.email.description }}
							</small>
						</div>
						<div class="form-group">
							<b>{{ form.password.label }}</b>
							{{ form.password(class="form-control") }}
							<small class="form-text text-muted">
								{{ form.password.description }}
							</small>
						</div>

						<div class="form-check">
						</div>

						<div class="float-right">
							<button type="button" class="btn btn-primary btn-outlined tab-next" data-href="#style">
								Next
							</button>
						</div>
					</div>
					<div class="tab-pane fade" id="style" role="tabpanel">
						<div class="form-group">
							<b>{{ form.ctf_theme.label }}</b>
							{{ form.ctf_theme(class="form-control custom-select") }}
							<small class="form-text text-muted">
								{{ form.ctf_theme.description }}
							</small>
						</div>
						<div class="form-group">
							<b>{{ form.theme_color.label }}</b>
							<br>
							<div class="d-inline-block">
								{{ form.theme_color(id="config-color-input") }}
								<div class="btn-group">
									<input type="color" id="config-color-picker" class="pr-1" style="width: 100px; height: 30px;" value="">
								</div>
								<div class="btn-group">
									<button type="button" id="config-color-reset">Resetar</button>
								</div>
							</div>
							<small class="form-text text-muted">
								{{ form.theme_color.description }}
							</small>
						</div>
						<div class="float-right">
							<button type="button" class="btn btn-primary btn-outlined tab-next" data-href="#datetime">
								Próximo
							</button>
						</div>
					</div>
					<div class="tab-pane fade" id="datetime" role="tabpanel">
						<div class="form-group">
							<b>{{ form.start.label }}</b>
							<div class="row">
								<div class="col-md-4">
									<label>Data</label>
									<input class="form-control" id="start-date" type="date" placeholder="yyyy-mm-dd" data-preview="#start"/>
								</div>
								<div class="col-md-4">
									<label>Horário</label>
									<input class="form-control" id="start-time" type="time" placeholder="hh:mm" data-preview="#start"/>
								</div>
								<div class="col-md-4">
									<label>UTC Previsão</label>
									{{ form.start(class="form-control", id="start-preview", readonly=True) }}
								</div>
							</div>
							<small class="form-text text-muted">
								{{ form.start.description }}
							</small>
						</div>

						<div class="form-group">
							<b>{{ form.end.label }}</b>
							<div class="row">
								<div class="col-md-4">
									<label>Data</label>
									<input class="form-control" id="end-date" type="date" placeholder="yyyy-mm-dd" data-preview="#end"/>
								</div>
								<div class="col-md-4">
									<label>Horário</label>
									<input class="form-control" id="end-time" type="time" placeholder="hh:mm" data-preview="#end"/>
								</div>
								<div class="col-md-4">
									<label>UTC Previsão</label>
									{{ form.start(class="form-control", id="end-preview", readonly=True) }}
								</div>
							</div>
							<small class="form-text text-muted">
								{{ form.end.description }}
							</small>
						</div>

						<div class="float-right">
							<button type="button" class="btn btn-primary btn-outlined tab-next" data-href="#integrations">
								Próximo
							</button>
						</div>
					</div>
					<div class="tab-pane fade" id="integrations" role="tabpanel">
						<div class="form-group">
							<button type="button" id="integration-mlc" class="btn btn-primary btn-block">
								Setup
							</button>
						</div>

						<br>
						<hr>
						<br>

						<div class="submit-row float-right">
							{{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
						</div>
					</div>
				</div>

				{{ form.nonce() }}
			</form>
			{% endwith %}
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script>
	var STATE = {{ state | tojson }};
</script>
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', path='js/pages/setup.js') }}"></script>
{% endblock %}
